*{
  /* apply to the whole website */
  margin: 0;
  padding: 0;
  font-family: georgia;
  text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
:target::before{
    content: "";
    display: block;
    height: 50px;
    margin: -10px 0 0;
}
/* background */
.container{
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.nav{
  overflow: hidden;
  top:0;
  font-size: 50px;
  width: 100%;
  height: 120px;
  position:fixed;
  background: #ffffff;
  border-bottom: 1px solid grey;
}
/* keep the color of the menu text the same when click */
a { color: inherit; }

/* logo */
.logo{
  margin: 35px;
  left: 70;
  position: absolute;
  color: #000000;
  font-size: 1em;
  cursor: pointer;
  float: left;
}
/* menu */
.menu ul{
  /* makes the container behaves like an inline element */
  display: inline-flex;
  margin: 50px;
  right: 50;
  position: absolute;
  font-size: 0.4em;
  float: right;
}
.menu ul li{
  list-style: none;
  /* the space between each elements is 50 px */
  margin: 0 50px;
  color: #000000;
  cursor: pointer;
  text-decoration:none;
}
/* video */
.video1{
  top: 120;
  height:720px;
  width: 100%;
  position: absolute;
  background: #000000;
}
.playpause {
    background-image: url(content/playpause.jpg);
    background-repeat:no-repeat;
    width:100%;
    height:100%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}
video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* about page */
.about{
  position:relative;
  top:840px;
  width: 100%;
  height: 1077px;
  position: absolute;
  overflow: hidden;
}
.about_elements{
  margin: 100 200 auto 200;
  position: absolute;
  font-size: 1vw;
  display: flex;
  flex-wrap: wrap;
}
.about_text {
  /* display: inline-block; */
  flex: 45%;
  float: right;
  line-height: 30px;
}
.about_header{
  font-size: 2em;
  padding: 0 0 50 0px;
}
.about_image{
  float:left;
  /* display: inline-block; */
  vertical-align: top;
  flex: 45%;
  padding: 0 50 50 0;
  /* margin: 0 0 100 0; */
  }
.about_image img{
  /* display: block; */
  max-width: 100%;
  max-height: 100%;
  /* margin-left: auto;
  margin-right: auto; */
}
.crew{
  width: 100%;
  top: 1817px;
  background: #000000;
  height: 1000px;
  margin: 100 0 0 0;
  position: absolute;
  /* position: relative; */
}
.crew_header{
  display: block;
  font-size: 45px;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  color: #ffffff;
}
/* Create four equal columns that floats next to each other */
.crew_column {
  float: left;
  width: 25%;
}
/* Clear floats after the columns */
.crew_row:after {
  content: "";
  display: table;
  clear: both;
}
.crew_column img {
  width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.crew_column p {
  font-size: 35px;
  color: #ffffff;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* backstage */
.backstage{
  width: 100%;
  top: 2817px;
  height: 1000px;
  margin: 100 0 0 0;
  position: absolute;
}
.backstage_header{
  display: block;
  font-size: 45px;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  color: #000000;
}
.backstage_row {
  display: flex;
  flex-wrap: wrap;
  margin: 0  100 0 100;
}
/* Create three equal columns that sits next to each other */
.backstage_column{
  float: left;
  flex: 33%;
}
.backstage_column img {
  margin-top: 25px;
  vertical-align: middle;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* contact */
.contact{
  width: 100%;
  top: 4100px;
  height: 720px;
  margin: 100 0 0 0;
  position: absolute;
  background: #000000;
}
.contact_header{
  display: block;
  font-size: 45px;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  color: #ffffff;
}

form {
margin: 0 auto;
width:600px;
}

.form_control{
  width: 600px;
  background: transparent;
  border: none;
  outline:none;
  border-bottom: 1px solid grey;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 16px;
  padding: 0 25 25 0;
  cursor: pointer;
}
